.menuoff {
    width: 35px;
    height: 35px;
  }
  .menuoff span:nth-child(1) {
    width: 23px;
    height: 2px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgba(19, 18, 18, 0.644);
    transition: all 0.5s;
  }
  .menuoff span:nth-child(2) {
    width: 20px;
    height: 2px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgba(19, 18, 18, 0.644);
    transition: all 0.5s;
  
  }
  .menuoff span:nth-child(3) {
    width: 23px;
    height: 2px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgba(19, 18, 18, 0.644);
    transition: all 0.5s;
  
  }
  .menuon {
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  .menuon span:nth-child(1) {
    width: 25px;
    height: 2px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgba(19, 18, 18, 0.644);
    transition: all 0.5s;
    transform-origin: left;
    transform: translateX(4px) translateY(14px) rotate(-45deg);
  }
  .menuon span:nth-child(2) {
    width: 25px;
    height: 2px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgba(19, 18, 18, 0.644);
    transition: all 0.5s;
    transform: translateX(50px);
    
  }
  .menuon span:nth-child(3) {
    width: 25px;
    height: 2px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgba(19, 18, 18, 0.644);
    transition: all 0.5s;
    transform-origin: left;
    transform: translateX(4px) translateY(-16px) rotate(45deg);
  }

  .lds-dual-ring {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes corazon {
    25% {
      fill: red;
      scale: 1.2;
    }
    50% {
      scale: 1;
    }
    75% {
      scale: 1.4;
    }
    100% {
      scale: 1;
      fill: red;
    }
  }