/*CSS Global  para insertar direcamente en los classNames de los tags en el html*/
/*Los Parametro de los flex son de vertical primero y luego horizontal eg. flex-center-center*/

.border-black {
  border: 1px solid black;
}
.border-radius {
  border-radius: 5px;
}

.margin-5 {
  margin: 5px;
}
.margin-y-10 {
  margin: 10px 0px;
}
.margin-y-10-x-5 {
  margin: 15px 5px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-right {
  margin-right: 1rem;
}
.margin-left {
  margin-left: 1rem;
}
.margin-top {
  margin-top: 1rem;
}
.margin-botton {
  margin-bottom: 1rem;
}
.padding-10 {
  padding: 10px;
}
.color-black {
  color: black;
}
.flex-center-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.flex-column-center-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-column-evenly {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.flex-column-between {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-column-between-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-column-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.flex-column-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.width-100 {
  width: 100%;
}
.position-relative {
  position: relative;
}
.link-cursor:hover {
  cursor: pointer;
}
.logo-box {
  width: 30px;
  height: 30px;
  background-color: rgba(23, 65, 107, 0.815);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo {
  width: 250px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: none;
  border: 2px solid rgb(37, 97, 138);
  border-radius: 5px;
}
.logo p {
  padding: 5px;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-weight: 800;
  font-size: 22px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.205);
  -webkit-background-clip: text;
  background-image: url("./images/purple.jpg");
  background-position: top;
}

.logo-small {
  width: 30px;
  height: 30px;
}

.button-orange {
  min-width: 80px;
  background-image: linear-gradient(#e0be61, #dfb015);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  color: rgb(233, 233, 233);
  margin: 3px;
}
.disable-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #02070c5b;
  z-index: 100;
}
.button-orange:active {
  border-bottom-color: #a2a6ac;
}

.button-orange:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-orange:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-orange:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, 0.5) 0 0 3px 2px;
  outline: 0;
}

.button-green {
  min-width: 80px;
  background-image: linear-gradient(#70da75, #249e38);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  color: rgb(233, 233, 233);
  margin: 3px;
}

.button-green:active {
  border-bottom-color: #a2a6ac;
}

.button-green:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-green:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-green:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, 0.5) 0 0 3px 2px;
  outline: 0;
}
.button-small-red {
  width: 110px;
  height: 30px;
  background-color: rgb(150, 29, 29);
  color: white;
  font-family: "Roboto", sans-serif;
  border: 0;
  margin: 3px;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.button-small-red:hover {
  filter: brightness(120%);
}
.button-small-green {
  width: 65px;
  height: 30px;
  background-color: rgb(63, 163, 96);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: 0;
  margin: 3px;
  border-radius: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.5s;
}
.button-fancy-blue {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  z-index: 0;
}

.button-fancy-blue:hover,
.button-fancy-blue:focus {
  background-color: #07c;
}

.button-fancy-blue:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-fancy-blue:active {
  background-color: #0064bd;
  box-shadow: none;
}
.not_comment_box {
  width: 100%;
  height: 100%;
}
.not_comment {
  width: 90%;
  text-align: center;
  height: 90%;
  padding: 10px;
  color: rgba(27, 27, 27, 0.863);
  border: 1px solid rgba(255, 255, 255, 0.637);
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #fafbfc;
  outline: 1px solid rgba(83, 83, 83, 0.452);
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.header_show_user {
  width: 100%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.header_show_user img {
  margin: 10px;
}
.select {
  background-color: rgba(165, 173, 169, 0.596);
}
.bio_img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  object-fit: cover;
}
input[type="file"] {
  outline: none;
  padding: 4px;
  margin: -4px;
}

input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
  outline: 2px solid #02070c;
  outline-offset: 2px;
}

input[type="file"]::before {
  top: 16px;
}

input[type="file"]::after {
  top: 14px;
}

/* ------- From Step 2 ------- */

input[type="file"] {
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 16px;
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 13px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.button-4 {
  min-width: 80px;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #2e353be1;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 2px;
  text-align: center;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}
.button-4-big {
  width: 100%;
  min-width: 300px;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #2e353be1;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 2px;
  text-align: center;
}
.button-3 {
  min-width: 60px;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 2px;
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  /* margin: 0; */
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

/* .button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
} */

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
.button-7 {
  background-color: #e00707f3;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

/* .button-7:hover,
.button-7:focus {
  background-color: rgb(207, 5, 5);
} */

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #d2d4db 0%, #61b0d486 100%);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}
